---
layout: full-width
title: Pankesh Bamotra
nav_exclude: true
comments: false
haslatex: false
# Note that this index page uses a full-width layout!
---

<!-- https://www.tjvantoll.com/2017/01/02/listing-external-articles/ -->

  <!-- <h1 class="content-listing-header sans">Articles</h1> -->
  {% if site.paginate %}
  {% assign posts = paginator.posts | sort: "stickiness"%}
  {% else %}
  {% assign posts = site.posts | sort: "stickiness"%}
  {% endif %}

  <ul class="content-listing ">
    {% for post in posts %}  
      {% capture url_to_use %}{{ post.url | prepend: site.baseurl }}{% endcapture %}
      <li class="listing">
        <a name="{{ post.url }}" ></a>
        <div class="index_entry">
          <hr class="slender">
          <a href="{{ url_to_use }}" style="padding-right:15px;"><h3 class="contrast">{{ post.title }}</h3></a>
          <!-- <br><span class="category"><span class="category-head" style="padding-right:5px;">Category:</span>{{post.categories[0] | capitalize}}</span> -->
          <br><span class="smaller">{{ post.date | date: "%B %-d, %Y" }}</span>  <br/>
          <div>{{ post.excerpt }} </div>
        </div>
      </li>
    {% endfor %}
  </ul>
  {% if site.posts.size > site.paginate %}
    {% if site.paginate %}
    <div class="pagination" style="padding-left: 5%">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="previous">&laquo; Previous</a>
      {% endif %}

      <span class="page_number">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>

      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next">Next &raquo;</a>
      {% endif %}
    </div>
    {% endif %}
    <br/>
  {% endif %}
