[[redirects]]
from = "/*"
to = "https://www.pankesh.com"
status = 301
force = true

[[redirects]]
from = "/"
to = "https://www.pankesh.com"
status = 301
force = true

[[headers]]
for = "/*"
[headers.values]
X-Frame-Options = "DENY"
X-XSS-Protection = "1; mode=block"
X-Content-Type-Options = "nosniff"
