<footer>
  <hr class="slender">
  <ul class="footer-links"> 
    <!-- <li><a href="{{ site.baseurl }}{% link about.md %}">About me</a></li>
    <br/>
    {% for entry in site.data.social %}
      <li>
        <a href="{{ entry.link }}"><span class="{{ entry.icon }}"></span></a>
      </li>
    {% endfor %}   -->
  </ul>
  <div class="credits">
    <!-- <span style="line-height: 2rem;"><a href="mailto:{{ site.authormail }}">{{ site.authormail }}</a></span>
    <br/> -->
    <span style="line-height: 1rem;">&copy; {{ site.time | date: '%Y' }} &nbsp;&nbsp;{{site.author | upcase }} - also, <a href="https://basicml.com">basicml.com</a> </span></br><br>
  </div>  
</footer>